header {
    width: 100%;
    height: 60px;

    background-color: rgb(35,37,43);

    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

    padding-left: 50px;

    box-sizing: border-box;
}

header > img {
    height: 55%;
    width: auto;

    margin-right: 10px;

    transition: filter .2s ease-in-out;

    cursor: pointer;
}

header > img:hover {
    filter: grayscale(100) brightness(100);
}

/* Header tabs for browsing */
a {
    color: rgb(211,210,210);

    text-decoration: none;

    display: flex;

    height: 100%;

    justify-content: center;
    align-items: center;

    transition: background-color .1s ease-in-out;

    padding: 0px 15px;

    gap: 10px;
}

a > img {
    height: 15px;
    width: auto;
}

a[pos="end"] {
    margin-left: auto;
    float: left;
}

a[pos="end"], a[img="beeg"] {
    width: 30px;
}

a[pos="end"] > img, a[img="beeg"] > img {
    height: 25px;
    width: auto;
}

a:hover {
    background-color: rgb(20,21,25);
    cursor: pointer;
}