html, body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    font-family: Lato, Helvetica Neue, helvetica, sans-serif;

    overflow-y: scroll;
    overflow-x: hidden;

    background-color: black;
    background-image: url("/Background/background.png");
    background-size: cover;
}